body
{
    font-family:"Helvetica Neue";
    color: #686765;
}

.name
{
    float:right;
    color:#27aae1;
}

.axis
{
    fill: none;
    stroke: #AAA;
    stroke-width: 1px;
}

text
{
    stroke: none;
    fill: #666666;
    font-size: .6em;
    font-family:"Helvetica Neue"
}

.label
{
    fill: #414241;
}

.node
{
    cursor:pointer;
}

.dot
{
    opacity: .7;
    cursor: pointer;
}
